.AboutMain {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ProjectMain {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.TcMain {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ContactMain {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}