.Home {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#272a30, #272a3000), url(/public/img/fondo.jpeg);
    background-position: center;
    background-size: cover;
    animation: reveal 1s ease-in-out forwards;

    @media screen and (max-width:500px) {
        padding: 9px 0;
    }
}

.AboutMain {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(#272a30, #272a3000), url(/public/img/fondo2.jpg);
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
    animation: reveal 1s ease-in-out forwards;

    .InfeCont {
        height: 100vh;
        display: flex;
        padding: 30px 0;
        margin: 10px 0px;
        flex-direction: column;
        align-items: center;
        width: 100%;

        @media screen and (max-width:950px) {
            height: auto;
        }

    }

    .CV {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 20px 0px;
        margin: 50px 0px;
        font-family: jetbrains mono;

        @media screen and (max-width:478px) {
            display: flex;
            flex-direction: column;

        }

        h2 {
            font-size: 50px;

            @media screen and (max-width:700px) {
                font-size: 30px;
            }

            @media screen and (max-width:410px) {
                font-size: 20px;
            }

        }
    }
}


.ProjectMain {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#272a309d, #272a30), url(/public/img/ProjBack.jpg);
    background-position: center;
    background-size: cover;
    animation: reveal 1s ease-in-out forwards;

    @media screen and (max-width:956px) {
        height: 100%;
    }

    .ProjFirst {
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 0px;

        .contend {
            padding: 30px;
            display: flex;
            width: 100%;
            justify-content: start;
            align-items: center;
            font-family: Jetbrains Mono;

            @media screen and (max-width: 600px) {
                display: flex;
                flex-direction: column;
                align-items: start;
            }

            h1 {
                font-size: 60px;
                margin: 0 10px;

                @media screen and (max-width: 329px) {
                    font-size: 30px;
                }


            }
        }

        p {
            font-size: 20px;
        }
    }

    .ProjList {
        display: grid;
        grid-template-columns: repeat(3, 10fr);
        grid-gap: 20px;
        justify-content: center;
        align-items: center;

        @media screen and (max-width:952px) {
            display: flex;
            flex-direction: column;
        }
    }

}

.MyGit {
    width: 100%;
    height: auto;
    background: #272a30;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #969696;
    animation: reveal 1s ease-in-out forwards;

}


.TcMain {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(#272a3093, #272a3083), url(/public/img/Tc.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
}

@keyframes reveal {
    from {
        opacity: 0;
        translate: 0 100px;
    }

    50% {
        opacity: .1;
    }

    to {
        opacity: 1;
        translate: 0 0;
    }
}

.ContactMain {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: reveal 1s ease-in-out forwards;
}