@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  margin: 0;
  place-items: center;
  background-color: #272a30;
  color: #c3cbd3;
}

/* scroll */
/* chrome */
::-webkit-scrollbar {
  width: 2px;
  background-color: #272a30;
}

::-webkit-scrollbar-thumb {
  width: 2px;
  background-color: #272a30;
}

/* Moz */
::-moz-scrollbar {
  width: 2px;
  background-color: #272a30;
}

::-moz-scrollbar-thumb {
  width: 2px;
  background-color: #272a30;
}

/* Edge */
::-ms-scrollbar {
  width: 2px;
  background-color: #272a30;
}

::-ms-scrollbar-thumb {
  width: 2px;
  background-color: #272a30;
}